doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/c3.css')
    //script
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.js')
    script(src='/javascripts/c3.js')
  body
    block content