      body {
        background-color: #BEBEBE;
        font-family: 'Special Elite', Helvetica, Arial, sans-serif;
        font-size: 12px;
      }

      #login {
        padding-top: 20px;
      }

      #search {
        padding-top: 140px;
        padding-bottom: 140px;
        background: url(http://i.imgur.com/xiEVt3n.png) top center no-repeat;
        background-size: 40%;  
        min-height: 700px; 
      }

      #about-link-div {
        padding-left: 25px;
        padding-top: 10px;
        color:white;
      }

      .svg-chart .background {
        shape-rendering: crispEdges;
        stroke: #ccc;
        fill: #fdfdfd;
        stroke-width: 1px;
      }

      .svg-chart .bar { fill: #4682B4; }

      .footer {
        min-height: 550px;
      }
      
      /* unvisited link */
      a:link {
        color:#000000;
        text-decoration: none;
      }      
      
      /* visited link */
      a:visited {
        color:#000000;
        text-decoration: none;
      }

      /* mouse over link */    
      a:hover {
        color:#000000; 
        text-decoration: none;
      }  

      /* selected link */
      a:active {
        color:#000000; 
        text-decoration: none;
      }  