      body {
        background-color: #BEBEBE;
        font-family: 'Special Elite', Helvetica, Arial, sans-serif;
        font-size: 12px;
      }

      #login {
        padding-top: 20px;
      }

      #search {
        padding-top: 300px;
        padding-bottom: 200px;
        background: url(http://i.imgur.com/xiEVt3n.png) no-repeat center center;
        background-size: 80%;  
        background-position: center center;
        min-height: 670px; 
      }

      #about-link-div {
        padding-left: 130px;
        padding-top: 5px;
        color:white;
      }

      .form-inline .form-group input {
        width: 300px;
      }

      .svg-chart .background {
        shape-rendering: crispEdges;
        stroke: #ccc;
        fill: #fdfdfd;
        stroke-width: 1px;
      }

      .svg-chart .bar { fill: #4682B4; }

      .footer {
        min-height: 550px;
      }
      
      /* unvisited link */
      a:link {
        color:#ffffff;
        text-decoration: none;
      }      
      
      /* visited link */
      a:visited {
        color:#ffffff;
        text-decoration: none;
      }

      /* mouse over link */    
      a:hover {
        color:#000000; 
        text-decoration: none;
      }  

      /* selected link */
      a:active {
        color:#000000; 
        text-decoration: none;
      }  